a {
    color: #787272;
}

a:hover {
    text-decoration: none;
}

.topnav .navbar-brand {
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.topnav {
    padding-left: 0;
    padding: 10px 0px;
    z-index: 1039;
}

#sidebar-toggle {
    outline: none;
    border: 0;
    background-color: transparent;
}

.plus-icon {
    font-size: 25px;
    color: #8f8f8f;
}

.nav-right {
    flex: 1;
    justify-content: space-between;
    display: flex;
}

#sidebar {
    width: 15rem;
    height: 100vh;
    z-index: 500;
    padding-top: 3.625rem;
    position: fixed;
    top: 0px;
    left: 0;
}

#wp-content {
    flex: auto;
    /* height: calc(100vh - 58px); */
    min-height: 100vh;
    padding-top: 3.625rem;
    padding-left: 15rem;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content .card-header {
    text-transform: uppercase;
}

.nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

ul#sidebar-menu * {
    list-style: none;
    padding-left: 0;
}

#sidebar-menu {
    padding: 20px 15px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    position: relative;
}

.nav-link.active>a,
.nav-link:hover>li>a {
    color: #0061f2;
}

.nav-link>li>a>i {
    color: #787272;
    font-size: 18px;
}

.nav-link .arrow {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#sidebar-menu .sub-menu {
    padding-left: 22px;
    border-left: 1px dashed #b8b8b8;
    margin-left: 6px;
    display: none;
}

#sidebar-menu .sub-menu li a {
    display: block;
    padding: 5px 0px;
}

#page-body {
    background-color: #e5e9f0;
}

.form-search {
    width: 300px;
}

.table tr td {
    vertical-align: middle;
}

.table-checkall input[type='checkbox'] {
    cursor: pointer;
}

.analytic a {
    position: relative;
    padding-right: 5px;
    margin-right: 5px;
}

.analytic a:not(:last-child):after {
    position: absolute;
    content: '|';
    top: -1px;
    right: -5px;
    color: #8c8c8c;
}


.header{
	display: inline-flex;
	width: 100%;
}
.sameRow {
    height: 40px;
    width: 50%;
    padding: 2em;
}
.reg{
	border-right: 2px solid black;
}
.row1,.row2{
	background-color: red;
}
.centertext{
	text-align: center;
}
.input{
	 border: none;
  	border-bottom: 2px solid red;
}
input{
        outline: none;
 }
 #register{
 	display: none;
 }

 body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  table {
    border: 1px solid red;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  
  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }
  
  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
  
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }
  /* Button */
  .badge {
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .badge-price-off {
    font-size: 12px;
    background-color: #dc3545;
  }
  
  .badge-price-off,
  .badge-price-off-wishlist {
    font-weight: 700;
    color: #fff;
    border-radius: 0.25rem;
    text-transform: uppercase;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
