/*GLOBAL*/
body{
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: normal;
    color: #272727;
    line-height: 24px;
}
.wp-inner{
    width: 1170px;
    margin: 0px auto;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.fl-left{ float: left;}
.fl-right{ float: right;}
#btn-top{
    position: fixed;
    bottom: 50px;
    right: 10px;
    cursor: pointer;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}
/*RESET BOOTSTRAP*/
ul li{ list-style: none!important;}
a{ text-decoration: none!important;}
.dropdown-menu{
    border-radius: 0;
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.15);
    box-shadow: 0 0px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.15);
}
.dropdown .dropdown-toggle{
    background: none;
    border: none;
    outline: none;
}
.dropdown-menu>li>a{ 
    padding: 5px 20px;
    color: #2b2b2b;
    font-family: 'Roboto Regular';
}
.table-responsive{ overflow-x: inherit;}

/*SLIDER*/
.owl-pagination{
    position: absolute;
    right: 45%;
    bottom: 2%;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    margin: 5px;
    opacity: 1;
    background: none;
    border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span{ background: #fff;}
#slider .owl-page span{ border: 1px solid #fff;}
#slider .owl-page.active span{ background: #333;}

/*SOCIAL*/
iframe{ width: 100%!important;}
.fb-comments, .fb-comments *{ width:100% !important;}
.fb-comments{ margin-top: 15px;}
#social-wp .g-plusone-wp{
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px;
}
#cart-respon-wp, #menu-respon, #btn-respon{ display: none;}

/*ARROW*/
#feature-product-wp .owl-controls .owl-buttons div, #same-category-wp .owl-controls .owl-buttons div{
    position: absolute;
    top: -40px;
    width: 20px;
    height: 20px;
    background: #d5d5d5;
    line-height: normal;
    opacity: 0.75;
}
#feature-product-wp .owl-controls .owl-buttons div:hover, #same-category-wp .owl-controls .owl-buttons div:hover{ background: #c0c0c0;}
#feature-product-wp .owl-controls .owl-buttons div:before, #same-category-wp .owl-controls .owl-buttons div:before{
    position: absolute;
    content: '\f104';
    font-family: 'Fontawesome';
    color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
p {
    display: block!important;
}
#feature-product-wp .owl-controls .owl-buttons div.owl-next:before, #same-category-wp .owl-controls .owl-buttons div.owl-next:before{ content: '\f105';}
#feature-product-wp .owl-controls .owl-buttons div.owl-next, #same-category-wp .owl-controls .owl-buttons div.owl-next{ right: 0;}
#feature-product-wp .owl-controls .owl-buttons div.owl-prev, #same-category-wp .owl-controls .owl-buttons div.owl-prev{ right: 25px;}